@use "global" as *;

.p-list {
}

.p-list__item {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(40);
  }
}

.p-list__item:nth-child(even) {
  @include mq(md) {
    flex-direction: row-reverse;
  }
}

.p-list__item:not(:first-child) {
  margin-top: rem(48);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.p-list__item-img {
  position: relative;
  margin-left: calc(50% - 50vw);
  @include mq("md") {
    flex: 1;
  }
}

.p-list__item:nth-child(even) .p-list__item-img {
  position: relative;
  margin-left: initial;
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    flex: 1;
  }
}

.p-list__item-img img {
  width: 100%;
  aspect-ratio: 700/466;
  object-fit: cover;
  @include mq(md) {
  }
}

.p-list__item-img::before {
  content: "";
  position: absolute;
  top: rem(-20);
  left: 0;
  width: rem2(320);
  height: rem2(74);
  background-image: url(../images/common/text-img1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq("md") {
    width: rem(323);
    height: rem(75);
    top: rem(-40);
  }
}

.p-list__item:nth-child(even) .p-list__item-img::before {
  content: "";
  position: absolute;
  top: rem(-20);
  left: initial;
  right: 0;
  width: rem2(606);
  height: rem2(67);
  background-image: url(../images/common/text-img2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include mq("md") {
    width: rem(616);
    height: rem(67);
    top: rem(-35);
  }
}

.p-list__item-body {
  margin-top: rem2(40);
  @include mq("md") {
    width: calc(440 / 960 * 100%);
  }
}

.p-list__item-head {
  font-weight: $semi-bold;
  letter-spacing: 0.05em;
  @include mq("md") {
    letter-spacing: 0.034em;
  }
}

.p-list__item-head-main {
  font-size: rem2(32);
  line-height: calc(50 / 32);
  @include mq("md") {
    font-size: rem(24);
    line-height: calc(38 / 24);
  }
}

.p-list__head-sub {
  display: block;
  font-size: rem(12);
  line-height: calc(50 / 24);
  letter-spacing: initial;
  @include mq("md") {
    font-size: rem(14);
  }
}

.p-list__item-text {
  margin-top: rem(16);
  font-size: rem(13);
  font-weight: $medium;
  line-height: calc(50 / 26);
  text-align: justify;
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(30 / 14);
  }
}

.p-list__item-button {
  margin-top: rem(30);
}
