@use "global" as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 rem(25);
}

.modal__close-button::before {
  transform: rotate(45deg);
}

.modal__close-button::after {
  transform: rotate(-45deg);
}

.modal__inner {
  margin: auto;
  padding: 0 rem(10);
  width: fit-content;
  max-width: rem(600);
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
  // display: contents;
  @include mq("md") {
    max-height: 100vh;
    // padding: 0 rem(25);
    max-width: rem(832);
    margin: 0 rem(25);
  }
}

.modal__wrap {
  position: absolute;
  width: fit-content;
  max-height: max-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  // padding: 0 rem(35);
  // height: 80%;
}

.modal__img {
  width: fit-content;
  height: calc(100% - rem(40));
  height: 100%;
  max-height: calc(100vh - rem(80));
}

.modal__img img {
  width: 100%;
  height: 100%;
  max-height: inherit;
  object-fit: contain;
}

.modal__close-button {
  position: absolute;
  top: rem(-45);
  right: rem(35);
  margin: 0;
  padding: 0;
  width: rem(33);
  height: rem(33);
  cursor: pointer;
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";
  position: absolute;
  top: rem(15);
  left: 0;
  width: 100%;
  height: rem(3);
  background-color: $white;
}

.modal__prev,
.modal__next {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: rem(25);
  height: rem(25);
}

.modal__prev {
  left: rem(-40);
}

.modal__next {
  right: rem(-40);
}
