@use "global" as *;

// 真ん中に設置
.pagination {
  text-align: center;
}

// 横並びにする
.nav-links .page-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// ページタブの共通スタイル
.nav-links a.page-numbers,
.nav-links .current,
.nav-links a.prev,
.nav-links a.next,
.nav-links .dots {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #fff;
  color: #7090dd;
  border-radius: 50%;
  margin-right: 25px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #7090dd;
}

// マウスが乗った時の、ボタンの背景の色と文字の色
.nav-links a.page-numbers:hover {
  color: #fff;
  background-color: #999;
  border-color: #999;
  border-radius: 50%;
}

// 現在のページのタブ
.nav-links .current {
  background: #7090dd;
  color: #ffffff;
  padding: 0;
}

/* 前への「＜」、次への「＞」 */
.nav-links a.prev,
.nav-links a.next {
  border: 1px solid #004bb1;
  color: #004bb1;
  position: relative;
}

// 縦線の共通CSS
.nav-links .next::before,
.nav-links .prev::after {
  content: "";
  display: inline-block;
  width: 0.5px;
  height: 40px;
  background-color: rgb(224, 215, 215);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// 「次へ」の前の縦線位置
.nav-links .next::before {
  left: -15px;
}

//「前へ」の後の縦線位置
.nav-links .prev::after {
  right: -15px;
}

// 数字省略の「・・・」
.nav-links .dots {
  background: transparent;
  border: none;
}
