@use "global" as *;

.swiper {
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: initial;
  top: 47%;
  @include mq("md") {
    display: none;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination {
  bottom: rem(-30);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq("md") {
    display: none;
  }
}

.swiper-pagination-bullet {
  background-color: $darkgray;
  opacity: 1;
  width: rem(10);
  height: rem(10);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 rem(6);
}

.swiper-pagination-bullet-active {
  background-color: $base;
  width: rem(14);
  height: rem(14);
}
